#appartement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
  &__wrap {
    width: 100%;
    position: relative;
  }
  &__pictures {
    width: inherit;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
  }
  &__information {
    display: flex;
    justify-content: space-between;
    &__logement {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__loueur {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      width: 100px;
      text-align: end;
      img {
        object-fit: contain;
        width: 60px;
        border-radius: 50%;
      }
    }
    &__referencement {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;
      li {
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: #ff6060;
        width: 115px;
        height: 25px;
      }
    }
  }
}
