@use "../abstracts" as u;

#errorId {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 120px;
  br {
    display: none;
    @include u.for-phone {
      display: block;
    }
  }
  h2 {
    text-align: center;
  }
  @include u.for-phone {
    margin-top: 100px;
  }
}
