#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  border: 1px solid white;
  border-radius: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/img/banner-accueil.png");
  background-position: center;
  background-size: cover;
}
