html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
}

#banner__accueil h1 {
  color: white;
  font-size: 3em;
}
#banner__accueil h1 br {
  display: none;
}
@media (max-width: 767px) {
  #banner__accueil h1 {
    font-size: 24px;
  }
  #banner__accueil h1 br {
    display: block;
  }
}

.active {
  text-decoration: underline;
}

.notActive {
  text-decoration: none;
}

@media (max-width: 767px) {
  #header-desktop svg {
    width: 145px;
  }
}
#header-desktop li a {
  color: initial;
  font-size: 18px;
}
@media (max-width: 767px) {
  #header-desktop li a {
    font-size: 12px;
  }
}

.card__caption {
  color: white;
}

#footer p {
  color: white;
}

#appartement__compteur-image {
  color: white;
  font-size: 18px;
}
#appartement__information h1 {
  color: #ff6060;
  font-size: 36px;
}
@media (max-width: 767px) {
  #appartement__information h1 {
    font-size: 18px;
  }
}
#appartement__information h2 {
  font-size: smaller;
}
@media (max-width: 767px) {
  #appartement__information h2 {
    font-size: 14px;
  }
}
#appartement__information__loueur p {
  color: #ff6060;
  font-size: large;
}
@media (max-width: 767px) {
  #appartement__information__loueur p {
    font-size: 12px;
  }
}
#appartement__information__logement li {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 767px) {
  #appartement__information__logement li {
    font-size: 10px;
  }
}

.collapsed__btn {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .collapsed__btn {
    font-size: 13px;
  }
  .collapsed__btn svg {
    width: 16px;
  }
}

.collapsed__text {
  list-style: none;
}
@media (max-width: 767px) {
  .collapsed__text {
    font-size: 12px;
  }
}

.bigArrowRigth {
  user-select: none;
  position: absolute;
  bottom: 170px;
  right: 10px;
}
@media (max-width: 767px) {
  .bigArrowRigth {
    width: 11px;
    bottom: 90px;
  }
}

.bigArrowLeft {
  user-select: none;
  position: absolute;
  bottom: 170px;
  left: 10px;
}
@media (max-width: 767px) {
  .bigArrowLeft {
    width: 11px;
    bottom: 90px;
  }
}

#errorId h1 {
  font-weight: 700;
  color: #ff6060;
  font-size: 280px;
}
#errorId h2 {
  color: #ff6060;
  font-size: 36px;
}
#errorId p {
  font-size: 18px;
  text-decoration: underline;
}

#appartement__information__loueur .etoile {
  font-size: 24px;
}
@media (max-width: 767px) {
  #appartement__information__loueur .etoile {
    font-size: 13px;
  }
}

.red {
  color: #ff6060;
}

.grey {
  color: #e3e3e3;
}

#appartement__collapsed {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  #appartement__collapsed {
    flex-direction: column;
    gap: 20px;
  }
}

#collapsed__apropos {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 767px) {
  #collapsed__apropos {
    gap: 20px;
    margin-bottom: 20px;
  }
}

.collapsed--small {
  width: 45%;
}
@media (max-width: 767px) {
  .collapsed--small {
    width: 100%;
  }
}

.collapsed__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 15px;
  border-radius: 10px;
  background: rgba(246, 246, 246, 0.4509803922);
}

.collapsed__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  width: 100%;
  height: 52px;
  background-color: #ff6060;
  border: none;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .collapsed__btn {
    height: 30px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
  }
}

@keyframes negatif {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes positif {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes scaleout {
  from {
    transform: scaleY(0%);
    display: none;
  }
  1% {
    display: block;
  }
  to {
    transform: scaleY(100%);
  }
}
@keyframes scalein {
  from {
    transform: scaleY(100%);
  }
  to {
    transform: scaleY(0%);
    display: none;
  }
}
.rotationPositive {
  animation: negatif 250ms ease-in-out;
  transform-origin: center;
}

.rotationNegative {
  animation: positif 250ms ease-in-out;
  transform-origin: center;
}

.scaleIn {
  animation: scalein 250ms ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.scaleOut {
  animation: scaleout 250ms ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

#banner__accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  border-radius: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/img/banner-accueil.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  #banner__accueil {
    height: 111px;
  }
}

#banner__a-propos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  border-radius: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/img/banner-A-Propos.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  #banner__a-propos {
    height: 111px;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0px 30px 0px;
  background-color: black;
  width: inherit;
}

#header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 767px) {
  #header-desktop {
    margin-top: 10px;
  }
}
#header-desktop ul {
  display: flex;
  gap: 40px;
}
@media (max-width: 767px) {
  #header-desktop ul {
    gap: 20px;
  }
}

#root {
  display: grid;
  grid-template-rows: auto;
  align-content: space-between;
}

#body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 100px 40px 100px;
}
@media (max-width: 767px) {
  #body {
    margin: 0px 20px;
    gap: 15px;
  }
}

#card-wrapper {
  display: grid;
  gap: 40px;
  justify-content: center;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: auto;
  padding: 40px 0px 30px 0px;
  margin-bottom: 45px;
  border-radius: 10px;
  background-color: #f6f6f6;
  width: inherit;
  height: fit-content;
}
#card-wrapper a {
  width: 100%;
}
@media (max-width: 767px) {
  #card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 30px;
    padding: 0px;
    align-items: center;
    background-color: white;
  }
  #card-wrapper a {
    width: 100%;
    margin: 0%;
  }
}
@media (max-width: 1024px) {
  #card-wrapper {
    grid-template-columns: 43% 43%;
  }
}

.card {
  border-radius: 12px;
  width: 100%;
  height: 35vh;
  position: relative;
  background-color: black;
}
.card__img {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 10px;
  width: 100%;
  height: inherit;
}
.card__caption {
  width: 60%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#appartement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  #appartement {
    gap: 0px;
    margin-bottom: 25px;
  }
}
#appartement__wrap {
  width: 100%;
  position: relative;
}
#appartement__pictures {
  width: inherit;
  height: 415px;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 767px) {
  #appartement__pictures {
    height: 255px;
    object-fit: fill;
  }
}
#appartement__compteur-image {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: fit-content;
}
@media (max-width: 767px) {
  #appartement__compteur-image {
    display: none;
  }
}
#appartement__information {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #appartement__information {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
#appartement__information__logement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  #appartement__information__logement {
    width: 100%;
  }
}
#appartement__information__logement div h1 {
  margin-bottom: 10px;
}
#appartement__information__logement ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#appartement__information__logement ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 3px 5px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
}
#appartement__information__loueur {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20%;
}
@media (max-width: 767px) {
  #appartement__information__loueur {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    gap: 0%;
  }
}
#appartement__information__loueur div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  #appartement__information__loueur div {
    gap: 6px;
  }
}
#appartement__information__loueur div p {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50px;
}
#appartement__information__loueur div img {
  object-fit: contain;
  width: 60px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  #appartement__information__loueur div img {
    width: 32px;
  }
}

#errorId {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 120px;
}

/*# sourceMappingURL=index.css.map */
